<form #messageForm="ngForm">
    <div class="form-group">
        <label for="header">Header</label>
        <input
                required
                class="form-control"
                #header="ngModel"
                [(ngModel)]="model.header"
                id="header"
                name="header"
                placeholder="Header">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input
                required
                class="form-control"
                id="body"
                name="body"
                #body="ngModel"
                [(ngModel)]="model.body"
                placeholder="Body">
    </div>

    <button
            (click)="submit()"
            [disabled]="!messageForm.form.valid"
            type="submit"
            class="btn btn-default">Submit</button>

</form>