<form class="form-signin" #registrationForm="ngForm">
    <h2 class="form-signin-heading">Registration form</h2>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="text"
           id="inputUsername"
           class="form-control"
           placeholder="username"
           required
           #username="ngModel"
           [(ngModel)]="model.username"
           name="username">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email"
           id="inputEmail"
           class="form-control"
           placeholder="Email address"
           required
           #username="ngModel"
           [(ngModel)]="model.email"
           name="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
            #password="ngModel"
            [(ngModel)]="model.password"
            name="password">
    <button
            [disabled]="!registrationForm.form.valid"
            (click)="register()"
            class="btn btn-lg btn-primary btn-block"
            type="submit">Register</button>
</form>